@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:ital,wght@0,400;1,500&display=swap');
body {
  font-size: 16px;
  line-height:1.5;
}
main, footer{ 
    font-family: 'Roboto', sans-serif;
  }

header, main, footer {
  margin: 1.25rem auto;
  max-width: 760px;
}
header, footer {
  background-color: #1D6373;
  color: white;
  text-align: center;
  padding: 10px 0;
}

h1 {
  font-family: 'Playfair Display', serif; 
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin:0 20px;
  border-bottom: 1px solid #000000;
}
p {
  margin: 5px;
}
footer a{
  color: #fff;
}