@media only screen and (min-width: 64rem) {
  body, main {
    width: 1000px;
  }
 header, .herodiv, footer, .location{
    width: 1000px;
  }
  .weathersection {
    background-image: url(../images/sunnyocean1024.jpg);
    width: 1000px;
    padding: 0;
    margin: 0;
  }

  .rentals {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    width: 300px;
  }
  .rentals img {
    grid-column: 2/3;
  }
  .rentalArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;

  }
.location1, 
.location2 {
width: 1000px;
margin: 20px auto;
}
.location1 img, 
.location2 img {
width: 500px;
}
h2 {
  font-size: 2rem;
}
nav ul li a {
  font-size: 1.2rem;
}
.threeday ul:nth-child(even) {
  margin-top: 3px;
  margin-bottom: 3px;
}
}
