@media only screen and (min-width: 64rem) {

  .weathersection {
    background-image: url(../images/sunnyocean1024.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
  }
}
