@media only screen and (min-width:37.5em) {

  /* everything over 600px */
  body {
    max-width: 1024px;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  header h1 {
    font-size: 2.5rem;
  }

  nav {
    float: right;
    margin: -88px 0 5px 20px;
  }

  nav ul li a {
    padding: 8px;
    border-radius: 4px;
  }

  header {
    max-width: 225px;
  }

  .subhead {
    font-size: .8rem;
  }

  h2 {
    font-size: 1.75rem;
    margin: 50px 10px 30px;
  }

  h2.emphasized {
    padding: 5px 10px;
    font-size: 1.75rem;
  }

  .button {
    font-size: 1rem;
  }

  .calltoaction {
    font-weight: bold;
    top: 40px;
    left: 40px;
    font-size: 1.25rem;
    padding: 15px 25px;
  }

  .rentals {
    display: grid;
    max-width: 1024px;
    grid-template-columns: 60% 40%;
    margin: 0 16px 30px;
    padding: 15px 0 30px;
  }

  .rentals p {
    font-size: 1rem;
  }
  .tablecloth {
    padding:0 15px;
  }

  .weather {
    background: url(../images/sunnyocean600.jpg) center/cover no-repeat;
    grid-template-columns: 1fr 30% 10% 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 60px;
    grid-gap: 15px;
    padding-bottom: 30px;
  }

  .weathersummary {
    justify-self: stretch;
    grid-column: 2;
    grid-row: 1;
    padding: 55px 0;
  }

  .weathersummary,
  .threeday ul {
    background-color: rgba(175, 175, 175, 0.5);
  }

  .threeday {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 3;
    grid-row: 1;
  }

  .location {
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
  }

  .location1,
  .location2 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    width: 100%;
    max-width: 768px;
    margin: 20px 0;
  }

  footer h2.cursive {
    margin-top: 20px;
  }

  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 600px;
  }

  .contact h3 {
    text-align: left;
    padding-left: 35px;
  }

  .social {
    grid-column: 2;
    text-align: left;
    margin: 0 0 0 10px;
  }

  .phone p,
  .phone img,
  .address img,
  .email img,
  .email p {
    margin: 10px;
  }
  .info {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    }
  .specHero {
    max-width: 600px;
  }
  form {
    max-width: 600px;
  }
  .embededmap {
    max-width: 768px;
    text-align: center;
  }
  .embededmap iframe{
    height: 600px;
  }
  .cozumelmap {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .about {
    margin: 0 20px;
  }
  .cozumelmap img{
    width: 100%;
    max-width: 600px;
  }
  .recommended {
    display: flex;
  }
  .recommended .highlight {
    grid-column: 2;
    color: #219ebc;
    font-size: 16px;
    padding: 0px
  }
  .expimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 20px 0;
  }
  .expimg img:nth-child(1) {
    width: 100%;
    max-width: 300px;
    grid-column: 1;
  }
  .expimg img:nth-child(2) {
    width: 100%;
    max-width: 300px;
    grid-column: 2;
  }
  .expheader .pill{
    margin-left: 10px;
    }
  .experiences {
  max-width: 600px;
  margin: 0 auto;
  }
  
  
   
}