/* everything under 600px */

body {
  line-height: 1.5;
  color: #023047;
  font-family: 'Lato', sans-serif;
}

header {
  max-width: 205px;
  padding-bottom: 10px;
}

nav {
  background-color: #ffffff;
  font-weight: bold;
}

nav button {
  padding: 10px;
  margin-top: -75px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #023047;
  float: right;
  box-shadow: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: #023047;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color .3s;
  font-weight: bold;
}

nav ul li.active a {
  background-color: rgba(251, 133, 0, 0.9);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(33, 158, 188, 1);
  color: #fff;
}

nav ul.hide {
  display: none;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 0 10px;
  margin: 0;
  border-bottom: 4px solid #FB8500;
}

header h1 {
  line-height: 3.5rem;
}

.subhead {
  margin: 0;
  font-size: .75rem;
  padding: 5px 10px;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 20px 10px;
  padding: 0;
  text-align: center;
}

h2.emphasized {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 10px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  border-bottom: 4px solid #FB8500;

}

a {
  text-decoration: none;
  color: #023047;
}

a img {
  border: none;
}

img {
  object-fit: cover;
}

.weatheralert {
  background-color: #219EBC;
  font-size: .8rem;
  color: #fff;
  padding: 5px 10px;
}

.button {
  display: inline-block;
  font-size: .8rem;
  color: #fff;
  background: #FB8500;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}

.thanks {
  text-align: center;
  width: 100%;
}

.thankYou {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
}

.moreinfo {
  border: 1px solid #023047;
  padding: 8px 15px;
  border-radius: 5px;
}

.calltoaction {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1rem;
  padding: 10px 15px;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.herodiv {
  position: relative;
}

.hero-ph {
  width: 100%;
}

.rentalList {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
}

.rentals {
  background-color: #ffffff;
  max-width: 320px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.3);
  margin: 0 16px 30px;
  text-align: center;
  padding: 0 8px;
}

.rentals img {
  width: 80%;
  display: inline-block;
}

.rentals p {
  text-align: center;
  font-size: .8rem;
  padding: 0 10px;
  margin: 0;
}

.rentals .button {
  margin: 20px;
}

.weather {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 128px;
  align-items: center;
  justify-items: center;
  background: url(../images/sunnyocean320.jpg) center/cover no-repeat;
  padding: 30px 15px 10px;
  margin-bottom: 40px;
}

.weathersummary {
  width: 100%;
  max-width: 320px;
  background-color: rgba(175, 175, 175, 0.7);
  font-size: 1rem;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
  border-radius: 5px;
}

.weathersummary h2 {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.weathersummary p {
  margin: 5px 0;
  font-weight: bold;
}

.threeday {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  text-align: center;
  justify-items: stretch;
  width: 100%;
  max-width: 320px;
}

.threeday ul {
  background-color: rgba(175, 175, 175, 0.7);
  color: #fff;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
  border-radius: 5px;
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.threeday li {
  height: 24px;
}

.threeday li.icon {
  height: 40px;
}

.threeday li img {
  width: 40px;
  padding: 0;
  margin: 0;
}

.location {
  padding: 0 15px 10px;
}

.location1,
.location2 {
  display: grid;
  grid-template-rows: 50% 50%;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.4);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.location1 img,
.location2 img {
  width: 100%;
}

footer {
  background-color: #023047;
  font-size: .75rem;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

footer h2.cursive {
  font-family: 'Sonsie One', cursive;
  font-size: 1.5rem;
  border-bottom: 4px solid #FB8500;
  width: 200px;
  padding: 0 0 5px;
  text-align: center;
  margin: 0 auto;
}

.contact {
  margin-top: 20px;
  padding-top: 20px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.contactItem {
  display: grid;
  grid-template-columns: 32px 1fr;
  text-align: left;
  margin: 0;
}

.contact h3,
.social {
  grid-column: 1;
  color: #FB8500;
  text-align: center;
}

.contactItem img {
  align-self: center;
  width: 24px;
}

.contactItem p {
  margin: 5px;
}

.social img {
  margin: 15px 1px 10px 0;
  width: 30px;
}

.info {
  margin: 20px;
  padding-bottom: 20px;
}

.back {
  margin: 20px 0 0 20px;
  display: inline-block;
  font-size: .8rem;
  background-color: rgba(33, 158, 188, 1);
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
}

.specHero {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.specHero img {
  width: 100%;
}

.pricing table,
.pricing th,
.pricing td {
  border: 1px solid #023047;
  padding: 2px 4px;
}

.pricing {
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #023047;
  border-radius: 4px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.pricing th {
  background-color: #024059;
  border-top: none;
  color: white;
}

th:first-of-type {
  border-top-left-radius: 4px;
}

th:last-of-type {
  border-top-right-radius: 4px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 4px;
}

tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 4px;
}

form fieldset {
  margin: 3rem 0;
  border: 1px solid transparent;
  background-color: rgba(142, 202, 230, .5);
  border-radius: 10px;
}

form legend {
  color: #023047;
  position: relative;
  top: -1rem;
  font-weight: bold;
}

form label.top,
form div {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  color: #023047;
  font-size: 1rem;
}

form label.top input,
form label.top select,
form label.top textarea {
  -webkit-appearance: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  border: 1px solid #023047;
  border-radius: 4px;
  padding: .75rem;
  color: #023047;
  box-sizing: border-box;
  width: 100%;
}

.radio {
  flex-direction: column;
  margin: 0;
}

.radio p {
  margin: 0;
}

form label.sbs {
  display: flex;
  align-items: center;
  color: #023047;
  padding-right: 10px;
  margin-bottom: 0;
}

input[type="radio"] {
  margin-right: 2px;
}

form input.submitBtn {
  display: flex;
  flex-wrap: wrap;
  border: none;
  background-color: #023047;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  width: 200px;
  margin: 0 auto;
}

form input[value="Ask Scoots"] {
  justify-content: center;
}

form label.top input:required {
  border-left: 6px solid #FB8500;
}

form label.top input:required:valid {
  border-left: 6px solid #8ECAE6;
}

form {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}


.scoot {
  display: block;
  width: 200px;
  margin: 20px auto;
  animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.thankYouText1,
.thankYouText2,
.thankYouText3 {
  animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.5s both;
  text-align: center;
}

.thankYouText2 {
  animation-delay: .6s;
}

.thankYouText3 {
  animation-delay: .7s;
}

.embededmap {
  margin: 0 auto;
  max-width: 320px;
}

.embededmap iframe {
  width: 100%;
  height: 320px;
}
.cozumelmap {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.about {
  margin: 0 20px;
}
.cozumelmap img{
  width: 100%;
  max-width: 600px;
}
.recommended {
  background-color: #ffffff;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(2, 48, 71, 0.3);
  text-align: center;
  padding:20px;
  overflow: hidden;
}
.recommended img {
  max-width: 200px;
  border-radius: 8px;
}
.recommended .highlight {
  grid-column: 2;
  color: #219ebc;
  font-size: 16px;
  padding: 0px
}
.expimg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 20px 0;
  column-gap: 10px;
}
.expimg img:nth-child(1) {
  width: 100%;
  max-width: 300px;
  grid-column: 1;
}
.expimg img:nth-child(2) {
  width: 100%;
  max-width: 300px;
  grid-column: 2;
}
.expheader {
display: flex;
align-items:center;
}
.expheader .pill, .expheader .pill2 {
  margin-left: 10px;
  }
.experiences {
max-width: 600px;
margin: 0 20px;
}
.experiences iframe {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 382px;
}
.pill {
  background-color: #219ebc;
  color: #ffffff;
  width: 64px;
  padding:3px;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
}
.pill2 {
  background-color: #FFB703;
  color: #023047;
  width: 64px;
  padding:3px;
  text-align: center;
  border-radius: 16px;
  font-size: 12px;
}
.headsup {
  margin-top: 40px;
}



/* Animations */

@-webkit-keyframes slide-in-blurred-right {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }

}