@media only screen and (min-width: 64rem) {

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  nav ul li {
    float: left;
    flex: 1 1 100%;
    justify-content: space-evenly;
  }

  nav ul li a {
    border: none;
    padding: .6rem 1rem;

  }

  .logo {
    width: 10rem;
    margin-bottom: 0;
  }

  .fiveday {
    background-color: #77bdd9;
    padding: 10px 0 20px 0;
    max-width: 1000px;
  }

  .fiveday table {
    background-color: #fff;

  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .motto {
    font-size: 1.5rem;
  }

  .gallerygrid {
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-content: center;
  }

  .gallerybox:hover {
    box-shadow: 0 0 50px #333;
  }

  form label.sbs {
    padding: .2rem 0;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    grid-gap: 20px;
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 15% 20% 15%;
    width: 300px;
    padding: 0 0 10px;
    align-items: center;
    justify-items: center;
  }

  .cards img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    border-radius: 8px 8px 0 0;
    grid-row: 1;

  }

  .cards section:nth-child(odd) img {
    grid-column: 1;
  }

  .cards section:nth-child(even) img {
    border-radius: 8px 8px 0 0;
  }

  .cards section:nth-child(even) h2,
  .cards section:nth-child(even) p,
  .cards section:nth-child(even) .townStats {
    grid-column: 1;

  }

  .townStats {
    grid-row: 4;
    width: 90%;

  }

  .cards p {
    grid-row: 3;
    padding: 0 15px 15px;
  }

  .cards h2 {
    grid-row: 2;
    margin-top: 20px;
  }

}