@media only screen and (min-width: 64rem) {

  nav button {
    display: none;
  }

  nav ul.hide {
    display: flex;
  }

  nav ul li {
    float: left;
    flex: 1 1 100%;
    justify-content: space-evenly;
  }

  nav ul li a {
    border: none;
    padding: .6rem 1rem;

  }

  .logo {
    width: 10rem;
    margin-bottom: 0;
  }

  .fiveday {
    background-color: #77bdd9;
    padding: 10px 0 20px 0;
    max-width: 1000px;
  }

  .fiveday table {
    background-color: #fff;

  }
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
.motto{
  font-size: 1.5rem;
}
.gallerygrid {
  grid-template-columns: repeat (3,1fr);
  align-content: center;
  justify-content: center;
}
}