nav,
footer {
  background: #77bdd9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #77bdd9 0%, #51abcc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #77bdd9 0%, #51abcc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #77bdd9 0%, #51abcc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77bdd9', endColorstr='#51abcc', GradientType=0);
  /* IE6-9 */
}

body {
  font-size: 16px;
  line-height: 1.2;
  color: #011C26;
}

nav {
  font-family: 'Poppins', sans-serif;
  

}

nav button {
  padding: 10px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #011C26;
  border-top: 1px solid rgba(2, 64, 89, 0.4);
  text-align: center;
  font-size: 1rem;
  transition: background-color .3s;
  font-weight: bold;
}

nav ul li.active a {
  background-color: rgba(2, 64, 89, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(2, 64, 89, 0.4);
  color: #fff;
}

nav ul.hide {
  display: none;
}

header,
footer {
  background-color: #024059;
  color: white;
  text-align: center;
}

header {
  padding: 5px 5px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main,
footer,
.motto {
  font-family: 'Poppins', sans-serif;
  
}

main {
  max-width: 1000px;
  margin: 0 auto;

}

h1 {
  font-family: 'Abril Fatface', cursive;
  margin: 0;
  font-weight: normal;
}

h2 {
  text-align: center;
}

footer p:first-child {
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0;
}

footer p:last-child {
  padding-bottom: 10px;
  padding-top: 0;
  margin: 0;
}

footer {
  color: #011C26;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 16px;
  padding: 5px;
}

.herodiv {
  position: relative;
}

.hero-ph {
  margin: 10px auto;
  width: 100%;
  height: auto;
}

.weathersummary {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(2, 64, 89, 0.8);
  border: 1px solid #024059;
  padding: .5rem 1rem;
  box-shadow: 0 0 30px #011C26;
  color: #fff;
  padding-bottom: 0;
}
.weathersummary p, .weathersummary h3{
  margin: 1.5px;
}
.weathersummary h3{
  text-decoration: underline;
}
.articleCity img{
  width: 100%;
  box-shadow: 0 0 30px #011C26;
}
.articleCity{
  margin-bottom: 20px;
}

.contact {
  background-color: #CEE3EB;
  color: #011C26;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20px;
  padding-top: 20px;
  
}
.contactInfo {
  display: grid;
}

.contactItem {
  display: grid;
  grid-template-columns: 32px 1fr; 
  align-items: center;
}

.contactInfo h3, .contactItem, .social{
  grid-column: 2/3;
    
}

.contactItem img{
  width: 24px;
}
.contactItem p {
  margin: 5px;
}
.contactInfo h3{
  text-align: left;
  margin: 0;
}
.social img{
margin: 15px 1px 10px 0;
width: 30px;


}
.logo {
  width: 80px;
  height: auto;
}

.headings {
  display: flex;
  flex-direction: column;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.motto {
  font-style: italic;
  color: #fff;
}
.fiveday {
  display: none;
}
.articleCity {
  text-align: left;
  background-color: #CEE3EB;
  margin: 5px;
  padding: 20px;
}
.map {
  display: none;
}
.prestonBanner {
  background-color: #d9734e;
  color: #fff;
  padding: 10px;
  font-size: .8em;
  text-align: center;
  display:none;
}
.gallerygrid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}