@media only screen and (min-width: 64rem) {

  nav button {
    display: none;
  }
  nav ul.hide{display:block;}
  nav ul li {
    float: left;
  }
  nav ul li a {
    padding: .6rem 2rem;
    
  }
  .logo {
    width: 10rem;
    margin-bottom: 0;
  }
  header {
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  h1{
    grid-column: 2 / 4;
    grid-row: 1 / 2 ;
  }
}