footer  {
  background-color: #01260E;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
nav, footer{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#01260e+0,025918+100 */
  background: #01260e; /* Old browsers */
  background: -moz-linear-gradient(top,  #01260e 0%, #025918 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #01260e 0%,#025918 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #01260e 0%,#025918 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01260e', endColorstr='#025918',GradientType=0 ); /* IE6-9 */
  
    }

nav button{
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #fff;
}
footer  {
  background-color: #01260E;
  color: #fff;
}
nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a{
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border-top:1px solid rgba(0, 0, 0, 0.3)
}

nav ul li.active a{ background-color: rgba(0, 0, 0, 0.2); color: #fff;}
nav ul li a:hover{ background-color: rgba(0, 0, 0, 0.4);}
nav ul.hide{ display: none;}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.back{
  text-align: left;
  padding: 5px;
  padding-left: 15px;
}
.back a{
  color: #fff;
  text-decoration: none;
}
main, footer, .motto { 
font-family: 'Poppins', sans-serif;
}
body {
  font-size: 16px;
  line-height:1.5;
}
h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}
.placeholder {
    padding: 1rem;
    margin: 10px;
    width: 100%;
    height: auto;
    border: 1px solid #024059;
    background-color: #77bdd9;
    color: #024059;
}
div{
  display: block;
}