p { 
font-family: 'Poppins', sans-serif;
padding: 0;
margin: 0;
margin-bottom: 5px;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  text-align: center;
  justify-items: stretch;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

}

h1, h2 {
  color: #024059;
  text-align: center;

  font-family: 'Abril Fatface', cursive;
 
}
.cards section {
  border: 1px solid #024059;
  background-color: #CEE3EB;
  padding: 20px;
}
.cards img {
  object-fit: cover;
  height: 280px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(2, 64, 89, 0.6);
}
@media only screen and (min-width: 35em) {

.cards {
    grid-template-columns: 1fr 1fr;

  }
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 64rem) {

  .cards {
    grid-template-columns: repeat(4, 1fr);
 
  }

}
