table {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  box-shadow: 10px 10px 15px #628ca6;
  text-align: center;
  margin-top: 20px;
}

tbody {
  color: black;
}

table,
th,
td {
  border: 1px solid #aaa;
  border-collapse: collapse;
  padding: 10px;
}

th,
.goals {
  background-color: #628ca6;
  color: white;
}

thead th,
tfoot td {
  color: black;
  background-color: #7eb9c2;
  padding: 10px;
}

thead th {
  font-size: 1.5rem;
  font-weight: bold;
}

tr {
  background-color: #e7f0ed;
}

tr:nth-child(odd) {
  background: #e7ffed;
}

tfoot {
  font-size: 14px;
}