@media only screen and (min-width: 64rem) {

  nav button {
    display: none;
  }
  nav ul.hide{display:flex;}
  nav ul li {
    float: left;
    flex: 1 1 100%;
    justify-content: space-evenly;
  }
  nav ul li a {
    border: none;
    padding: .6rem 1rem;
    
  }
  .logo {
    width: 10rem;
    margin-bottom: 0;
  }
 
  
}