@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:ital,wght@0,400;1,500&display=swap');

body {
  font-size: 16px;
  line-height: 1.5;
  color: #011C26;
}

main,
footer {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #011C26;
  color: white;
  text-align: center;
}

nav {
  background-color: #1D6373;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  background-color: #4494A6;
  color: #fff;
}
main {
	display: grid;
	grid-template-columns: 1fr;
  font-size: 1rem;
  
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .9rem;
  margin: 10px;
  color: #272F32;
}

p {
  margin: 5px;
  
}

footer a {
  color: #fff;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

header {
  padding-bottom: 10px;
}

footer {
  margin-top: 50px;
  padding: 20px;
}

footer p:last-child {
  margin-bottom: 0;
}
.abril {
font-family: 'Abril Fatface', Cursive;
font-size: 48px;}
.poppins {
font-family: 'Poppins', Sans-Serif;
font-size: 16px;
}
td {
border: 2px solid #272F32;
text-align: center;
padding: 10;
}
table{
  width: 100%;
  border-collapse: collapse;
}
main img{
  margin-top: 20px;
}
.grid-container img{
width: 100%;

}